.getStarted_section {
    margin: 5em 0em;

    .container {
        // background-color: #7f00ff;
        // background-image: linear-gradient(45deg, #7f00ff, #19354b);
        border-radius: 15px;
        // box-shadow: 0px 10px 22px #7f00ff8f;
        background-image: url('../../../images/ETH GRAPHIC.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // background-position-y: 1rem;

        .getStarted_container {
            height: 500px;
            display: flex;
            align-items: center;
            padding: 0px 50px;


            .getStarted_content {
                h2 {
                    // font-weight: 900;
                    color: #ffffff;
                    -webkit-text-stroke: 1px;
                    font-size: 2.5em;
                }

                p {
                    color: aliceblue;
                    margin-top: 2em;
                }

                ul {
                    list-style-type: none;
                    color: aliceblue;
                    line-height: 2;

                    li {
                        font-size: 14px;
                        position: relative;

                        &::before {
                            content: "✓";
                            position: absolute;
                            left: 0%;
                            top: 0%;
                            width: 30px;
                            height: 100%;
                            border-radius: 50%;
                            /* background-color: #280050; */
                            display: flex;
                            justify-content: center;
                            transform: translateX(-35px);
                            align-items: center;
                        }
                    }
                }

                .getStarted_btn {
                    padding: 15px 25px;
                    border-radius: 50px;
                    background-color: #ffffff;
                    color: #193545;
                    font-weight: bold;
                    outline: none;
                    border: 2px solid #ffffff;
                    margin-top: 2em;
                    font-size: 1.1em;

                    &:hover {
                        border: 2px solid #ffffff;
                        background: transparent;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .getStarted_img {
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .getStarted_section {
        .container {
            .getStarted_container {
                height: 346px;
                padding: 0px 19px;

                .getStarted_content {
                    h2 {
                        font-size: 23px;
                    }

                    p {
                        margin-top: 1em;
                        font-size: 14px;
                    }

                    .getStarted_btn {
                        padding: 6px 16px;
                        border: 1px solid #ffffff;
                        margin-top: 1em;
                        font-size: 1em;


                    }
                }
            }
        }

    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .getStarted_section {
        .container {
            background-color: #7f00ff;
            background-image: linear-gradient(45deg, #7f00ff, #19354b);
            border-radius: 0px;

        }

    }
}