.partner_section {
    .partner_img_subsection {
        height: 149px;
        // background: red;
        display: flex;
        align-items: center;
        justify-content: center;


        ul {
            list-style: none;


            li {
                display: inline;
                margin-right: 30px;
                margin-left: 30px;

                .image {
                    // height: 200px;
                }
            }
        }
    }
}