.scaleEthereum_section {
    margin-top: 7em;

    .scaleEthereum_section_main {

        h1 {
            text-align: center;
            -webkit-text-stroke: 2px;
        }

        .scaleEthereum_section_main_contanier {

            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;

            .scaleEtherun_card {
                width: 648px;
                height: 157px;
                padding: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #80808033;

                img {
                    height: auto;
                    width: 64px;
                    margin: 12px;
                }



            }
        }
    }

}

.community_section{
    margin: 5em 0em;
    .web3_container {
        img {
            width: 64px;
            height: auto;
        }

        a{
            text-decoration: none;
            color: #8148e5;
            font-weight: 500;
      

            &:hover{
                text-decoration: underline;
            }
        }
    }
}



@media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    
    .scaleEthereum_section {
        .scaleEthereum_section_main {
            .scaleEthereum_section_main_contanier {
                .scaleEtherun_card {
                    width: 468px;
                }
            }
        }
    
    }


}


