.solution_section {
    // padding: 100px 0px;
     margin: 5em 0em;


    .solution_head {
        text-align: center;

        h2 {
            font-weight: bold;
            -webkit-text-stroke: 1px;
        }
    }

    .solution_boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 360px;
        border: 1px solid #d5d5d5;
        padding: 30px;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            border: 1px solid #7c15f0;
            background-color: #fcfaff;
            box-shadow: 0px 0px 20px rgb(124 21 240 / 15%);
        }

        .solution_box_item {
            img {
                height: 48px;
                width: 48px;
                object-fit: contain;
                margin-bottom: 1.25rem;
            }

            p {
                margin-bottom: .5rem;
            }

            h6 {
                font-weight: bold;
                // -webkit-text-stroke: 1px;
            }

        }

        .solution_box_coming_soon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            h6{
                font-weight: bold;
                -webkit-text-stroke: 1px;
                color: #80808094;
            }

            p{
                color: #80808094;
            }
        }

        .solution_box_item_status {
            background-color: #ffefd9;
            width: fit-content;
            padding: 5px 15px;
            font-size: 14px;
            font-weight: 800;
        }
    }
}